<% if @notes.empty? %>
 <div class="card">
    <div class="card-content">
      <span class="card-title">No Notes</span>
    </div>
  </div>
   <% if can? :new, InvestigationNote %>
    <div class="card grey lighten-3">
      <div class="card-action">
        <%= link_to "Add a new note", new_investigation_note_path(investigation_id: @investigation.id, officer_id: @current_user,date: Date.current ) %>
      </div>
    </div>
  <% end %>
<% else %>
<div class="card">
  <div class="card-content">
    <h5>Notes for <%= @investigation.title %></h5><br />

   <table class="striped highlight">
    <thead>
      <th>Officer</th>
      <th>Note</th>
      <th>Date</th>
      <th class="align_center">Edit</th>
    </thead>

       <% for note in @notes %>
            <tr>
              <td>
                &nbsp;<%= note.officer.name %>
              </td>
              <td>

                &nbsp;<%= link_to note.content, investigation_note_path(note) %>

              </td>
               <td>
                <td> &nbsp;<%= note.date.strftime("%m/%d/%y") %></td>
              </td>
              <td class="align_center">
                 &nbsp;<%= link_to edit_investigation_note_path(note) do %>
                    <i class="material-icons">edit</i>
                <% end %>
              </td>
            </tr>
          <% end %>
    </table>


  </div>
</div>
    <% if can? :new, InvestigationNote %>
    <div class="card grey lighten-3">
      <div class="card-action">
        <%= link_to "Add a new note", new_investigation_note_path(investigation_id: @investigation.id, officer_id: @current_user.officer.id, date: Date.current ) %>
      </div>
    </div>
  <% end %>
<% end %>