<h4><%= state.capitalize %> Criminals in GCPD</h4>

<% if criminals.empty? %>
  <p>There are no <%= state.downcase %> criminals at this time.</p>
<% else %>

  <table class="striped highlight">
    <thead>
      <th>Name</th>

     <% if can? :update, Criminal %>

      <th class="align_center">Edit</th>
      <% end %>

    </thead>
    <% for criminal in criminals %>
      <tr>
        <td><%= link_to criminal.name, criminal_path(criminal) %></td>



     <% if can? :update, Criminal %>
        <td class="align_center">
          <%= link_to edit_criminal_path(criminal) do %>
              <i class="material-icons">edit</i>
          <% end %>
        </td>
    <% end %>
      </tr>
    <% end %>
  </table>
  <p class="supertiny"></p>
  <br />
  <%= will_paginate criminals, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>